form{
    display:inline;
    margin:0;
    padding:0;
}

th, td, h3{
    text-align: center;
}

.offset {
    margin-bottom:10px;
    margin-left:30px;
}

.side-offset {
    margin-right:15px;
}

body {
    background-image: url("../wall.png");
    background-position: center top;
    background-size: 100% auto;
}

/* Define tables' colors*/
.panel {
    background-color: rgba(255, 255, 255, 0.4);
}

tr{
    background-color: rgba(255, 255, 255, 0.4);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}



td>a {
    display: block;
    color: inherit;
}

td>a:hover, td>a:visited, td>a:link, td>a:active
{
    text-decoration: none;
    color: inherit;
}

/* Define the hover highlight color for the table row */
.table-hover>tbody>tr:hover {
    background-color: rgba(255, 128, 64, 0.25);
}

.hover>tr:hover {
    background-color: rgba(255, 128, 64, 0.25);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Welcome page styles */
@font-face {
    font-family: 'Sansation_Bold';
    src: url("../fonts/Sansation_Bold.ttf") format("opentype");
}

.home-counter {
    font-family: 'Sansation_Bold';
    font-size: 60px;
    color: #555555;
    text-align: center;
}

.home-box {
    width: 100%;
    padding: 25px;
    padding-bottom: 40px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: rgba(255,255,255,0.5);
}

.piechart {
    width: 33%;
    margin: 0 auto;
}

.barchart {
    width: 50%;
    margin: 0 auto;
}

.h-h1 {
    display: inline;
    color: #555555;
    text-align: center;
}