.selected{
    color: #000;
    background: #7da8c3;
}

form{
    display:inline;
    margin:0px;
    padding:0px;
}

th, td, h3{
    text-align: center;
}

.offset {
    margin-bottom:10px;
}

body {
    background-image: url("../wall.jpg");
    background-position: center top;
    background-size: 100% auto;
}

td a {
    display: block;
}