form {
    display: inline;
    margin: 0;
    padding: 0;
}

th, td, h3 {
    text-align: center;
}

/* Button Offsets */
.offset {
    margin-bottom: 10px;
    margin-left: 30px;
}

.side-offset {
    margin-right: 15px;
}

body {
    background-image: url("../wall.png");
    background-position: center top;
    background-size: 100% auto;
    margin-bottom: 20px;
}

/* Define tables' colors*/
.panel {
    background-color: rgba(255, 255, 255, 0.4);
}

tr {
    background-color: rgba(255, 255, 255, 0.4);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

td > a {
    display: block;
    color: inherit;
}

td > a:hover, td > a:visited, td > a:link, td > a:active {
    text-decoration: none;
    color: inherit;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(255, 128, 64, 0.25);
}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(128, 128, 128, 0.2);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu > li > a:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

/* Home Page*/
@font-face {
    font-family: 'Sansation_Bold';
    src: url("../fonts/Sansation_Bold.ttf") format("opentype");
}

.home-counter {
    font-family: 'Sansation_Bold', serif;
    font-size: 60px;
    color: #555555;
    text-align: center;
}

.home-box {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
}

#inputDepartmentHome {
    background: rgba(255, 255, 255, 0.4);
}

.panel {
    border-radius: 10px;
}

.panel-default > .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.piechart {
    width: 50%;
    margin: 0 auto;
}

.smallerChart {
    width: 30%;
}

.barchart {
    width: 80%;
    margin: 0 auto;
    white-space: normal;
}

.h-h1 {
    display: inline;
    color: #555555;
    text-align: center;
}

.blue-h1 {
    display: inline;
    color: rgb(30, 144, 255);
}

/*Footer*/
html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
}

/*Pagination*/
.pagination {
    margin-top: 0px;
}

.pagination > .disabled > span {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination > .active > span {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination > .disabled > span:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination > li > a {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination > li > a:hover {
    background: rgba(51, 122, 183, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination > li > a:focus {
    background: rgba(51, 122, 183, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

a:focus {
    outline: 0;
}

/* Star Rating */
.c-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75px;
}

.c-rating__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    background: url("../stars.svg");
    background-position: 0 0;
    cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
    background-position: -24px 0;
}

/* Search */

.myInput {
    width: 70%;
    font-size: 14px;
    padding-left: 5px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 35px;
}

.v2 {
    width: 90%;
}

.btn-search {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 0;
    overflow: hidden;
    text-align: center;
    height: 35px;
    width: 10%;
    display: block;
    float: left;
}

.fit-element {
    display: inline-block;
    width: 100%;
    box-sizing: border-box; /* Make sure that 50% includes the padding */
    -moz-box-sizing: border-box; /* For Firefox                             */
    -webkit-box-sizing: border-box; /* For old mobile Safari                   */
}

.search-icon {
    padding-top: 3px;
    display: inline-block;
    font-size: 25px;
}

#navSearch {
    background-image: url('../search.png');
    background-size: 30px 30px;
    background-position: 4px 1px;
    background-repeat: no-repeat;
    width: 150%;
    right: 0;
    font-size: 14px;
    padding-left: 40px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 7px;
    height: 35px;
    float: left;
}

/* Profile */
.profile {
    padding-left: 40px;
    padding-right: 40px;
}

#profile-user {
    margin-bottom: 0;
    border-bottom: none;
}

.profile > li {
    font-size: 16px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    float: right;
    border: 3px solid gray;
    padding: 3px;
    background: lightgray;
    margin-top: 8px;
    margin-left: 10px;
}

.comment-picture {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    padding: 2px;
    margin-top: 8px;
    margin-left: 5px;
    background: lightgray;
    float: left;
}

.comment {
    position: relative;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 1px;
}

.comment > p {
    margin-left: 80px;
    font-size: 16px;
}

.comment > p.first {
    padding-top: 10px;
}

.reply {
    position: relative;
    margin-left: 75px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 1px;
}

#comment-blocked {
    background-color: rgba(255, 100, 100, 0.2);
}

.reply > p {
    margin-left: 80px;
    font-size: 16px;
}

.reply > p.first {
    padding-top: 10px;
}

.button-reply {
    position: absolute;
    right: 10px;
    top: 10px;
}

.button-block {
    position: absolute;
    right: 65px;
    top: 10px;
}

.reply-block {
    position: absolute;
    right: 10px;
    top: 10px;
}

#submitReply {
    margin-left: 15px;
}

textarea {
    resize: vertical;
}

/* Button looking like a text link*/
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.btn-link:hover {
    color: gray;
    text-decoration: inherit;
}

/* Crop Image */
#cropbox{
    width:100%;
}

#btn-crop{
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert-success{
    background-color: rgba(150, 255, 150, 0.3);

}

/* MOBILE/VERTICAL/PORTRAIT STYLES */
@media all and (orientation: portrait) {
    /* styles that only apply if window is in portrait mode */
    /* Master */
    /* Navbar */
    .navbar {
        /* less alpha to be able to see clearly */
        background-color: rgba(255, 255, 255, 0.8);
    }

    #navSearch {
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }

    /* home page */
    .mobile-graph {
        float: none;
    }

    .mobile-graph {
        width: 80%;
        margin: auto;
    }
}